<h1 style="display:inline;">Reply Image</h1>
<%=link_to "Back", :back, :style => "margin-left:40px; font-size: 18px;" %>
<h4 style = "margin:10px; color:#fff;">Reply User: <%= @reply.user.name%></h4>
<%= image_tag @image, :style => "margin:40px;" %>
