.copyright {
	float:right;
	display:inline;
	margin-top: -28px;
	line-height:55px;
	color:#4491c3;
  text-align:right;
}

.discussionLinks {
    position:relative;
    margin-top:20px;
}

.discussionLinks legend {
    position:absolute;
    top: -.5em;
    left: .2em;
    margin-bottom:40px;
    background-color:#f2f2f2;

}

.discussionLinks a {
    line-height:30px;
    margin-left:15px;
}

.discussionText {
    position:relative;
    margin-top:20px;
    border-top:none;
}

.discussionText legend {
    position:absolute;
    top: -.5em;
    left: .2em;
    margin-bottom:40px;
    background-color:#f2f2f2;

}

.discussionText a {
    line-height:30px;
    margin-left:15px;
}

.y-label {
  display:block;
  float:right;
  margin-top:150px;
  margin-right:10px;
}

.x-label    {float:right;width:640px;display:block;clear:both;margin-top:10px;text-align:center;}

.replyStyle {
  background-color:#cdd7de;
  margin:10px;
  padding:8px;
  border-top:10px solid #fff;
  overflow-x: auto;
}

* html div.replyStyle{
  height: 50px;
  width: 410px;
}
.clientSubComment {
  height: auto;
}
.modules_assigned{
  margin-left: 0;
}
.discussionTitle{
  width: 570px;
}
.flex_module{
  background-color: #ddd;
  height: 10px;
  margin: 10px 0 0 10px;
  width: 600px;
}
.moduleName{
  display: list-item;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 370px;
}
.deleteModule{
  display: list-item;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.launchModule{
  display: list-item;
  float:left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
