<h1 style="display:inline;">Discussion Image</h1>
<%=link_to "Back", :back, :style => "margin-left:40px; font-size: 18px;" %>
<h4 style = "margin:10px; color:#fff;">Discussion Title: <%= @discussion.title%></h4>
<%= image_tag @image, :style => "margin:40px;" %>
