<h1 style="display:inline;">Project Image</h1>
<%=link_to "Back", :back, :style => "margin-left:40px; font-size: 18px;" %>
<h4 style = "margin:10px; color:#fff;">Project Name: <%= @project.title%></h4>
<%= image_tag @image, :style => "margin:40px;" %>
