<% content_tag_for :tr, flex_module do -%>
  <td>
    <%= link_to flex_module.module_type.name, flex_module_module_images_path(flex_module)%>
  </td>
  <td>
    <%= link_to "Delete", discussion_flex_module_path(:discussion_id=> @discussion.id,:id => flex_module), :method => :delete, :confirm => 'Are you sure?'%>
  </td>
<%end -%>
