<div id="rightColumn">
  <div class="label_content">
    <h4>
      Edit <%=@flex_module.module_type.name%> of discussion: "<%=@flex_module.discussion.title%>"
    </h4>
    <%= render :partial => "form"%>
  </div>
</div>
