<div id="rightColumn">
  <br/>
  <h1>Categories</h1>
  <br/>
  <%= render :partial => "form"%>
  <br/>
  <table>
    <thead>
      <tr>
        <th> 
          Name
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
       </tr>
    </thead>
    <tbody>
      <%= render :partial=>"category", :collection => @categories%>
    </tbody>
  </table>
</div>
