<%javascript_tag do -%>
  var params = {};
  params.allowfullscreen = "true";
  swfobject.embedSWF("/heatMap/blognogModules.swf", "blog_modules", "600", "400", "6.0.65", "expressInstall.swf","", params);
<%end%>
<div class="blog_modules_container" id="blog_modules">
  <h1>Alternative content</h1>
	  <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
</div>

