<h1 class="lower">Support</h1> <br/>

<p class="support">If you have any questions about this site or need technical support, please email us at <b><%= @email_support%></b>.  Please include your Login Username in your message.
</p>
